@tailwind base;
@tailwind components;
@tailwind utilities;

@media not (hover: none), not (hover: on-demand) {
  /* width */
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-border;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-text_grey;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  /* IE, Edge and Firefox */
  * {
    scrollbar-width: 4px; /* Firefox */
    scrollbar-color: var(--tw-bg-opacity) transparent; /* Firefox */
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.xmaterial-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  @apply align-middle leading-none;
}
